
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 10%;
            margin-top: 10%;
            background-color: yellowgreen;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 5px;
            font-weight:bolder ;
        }

        input[type="text"] {
            padding: 5px;
            margin-bottom: 10px;
        }

        button {
            padding: 10px;
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
        }

        .result {
            margin-top: 20px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase   ;
        }
    